target/

.env
Cargo.lock

.vscode/launch.json
.idea/

*~
*.code-workspace
*.rs.bk
*.swo
*.swp
*.vim
.idea/
.env

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
